@import url(../../color.css);

.booking-container {
    background-color: var(--body-background);
    color: var(--text-color);
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.booking-title {
    color: var(--dark-orange);
    font-size: 2.2em;
    margin-bottom: 10px;
}

.booking-info {
    margin: 10px 0;
    font-size: 1em;
}


.booking-controls {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.booking-inputs {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.booking-form select,
.booking-form input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--dark-orange);
    background-color: var(--input-background);
    color: var(--text-color);
    min-width: 200px;
}

.booking-button {
    background-color: var(--dark-orange);
    color: var(--text-color);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.booking-button:hover {
    background-color: var(--very-dark-orange);
}
