.custom-toast .Toastify__toast-body {
  font-size: 0.95rem;
  font-weight: 500;
  background-color: var(--container-background) !important;
  color: var(--text-color) !important;
  border-left: 4px solid var(--dark-orange);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  font-family: inherit;
}

.custom-toast-progress {
  background-color: var(--orange) !important;
}