@import url(../../color.css);

.contact-container {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
    color: var(--text-color);
    padding: 20px;
    background-color: var(--container-background);
    border-radius: 10px;
}

.contact-container a {
    color: var(--dark-orange);
    font-weight: bold;
    text-decoration: none;
}

.contact-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.form-row input {
    flex: 1;
}

input, textarea, select, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--very-dark-orange);
    background-color: var(--input-background);
    color: var(--text-color);
}

textarea {
    resize: vertical;
}

button {
    background-color: var(--dark-orange);
    font-weight: bold;
    border: none;
}

button:hover {
    background-color: var(--very-dark-orange);
    cursor: pointer;
}
